%main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{role: 'main'}
  .jumbotron.bg-light.border
    %h1.display-4
      Components Catalog
    %p.lead
      Add your Components in views/application/components
