%nav.col-md-2.d-none.d-md-block.bg-dark.text-light.sidebar
  .sidebar-sticky
    %br
    %h6.sidebar-heading COMPONENTS
    %ul.nav.flex-column
      %li.nav-item
        %a.nav-link.active{:href => "#"}
          Some Link
